{% extends "../base.html" %}

{% load account %}
{% load socialaccount %}
{% load i18n %}

{% block content %}

<br>

<div class="container mx-auto align-middle" style="max-width: 30rem;">

    <div class="card rounded" style="padding: 5%;">
        <div class="card-body">
            <h5 class="display-3 card-title">Sign Up</h5>
            <h6 class="card-subtitle mb-2 text-muted">BeSustainable</h6>

            <br>

            <form class="login" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit">Sign Me Up !</button>
            </form>

            <br>

            <p class="card-text">
                Don't want to create another account? No problem, you can always use on of our providers:
            </p>

            {% get_providers as socialaccount_providers %}

            {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
            <li>
                <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
                    href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
            </li>
            {% endfor %}
            {% endif %}
            <li>
                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}